<div class="container body-content span=8 offset=2">
    <div class="well">
        <form class="form-horizontal"
              action="/admin/user/edit/{{user.id}}" method="post">
            <fieldset>
                <legend>Edit User - {{ user.fullName }}</legend>
                <div class="form-group">
                    <label class="col-sm-4 control-label"
                           for="email">Email</label>
                    <div class="col-sm-4 ">
                        <input class="form-control" id="email"
                               value="{{ user.email }}" name="email" disabled type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label"
                           for="fullName">Full Name</label>
                    <div class="col-sm-4 ">
                        <input type="text" class="form-control"
                               id="fullName" value="{{ user.fullName }}" name="fullName" disabled>
                    </div>
                </div>

                    {{#each roles}}
                    <div class="intro-text">
                    <form action="#">
                        <p>
                            <input type="checkbox" id="{{ this.name }}" name="roles"
                                   value="{{ this.name }}" {{#if this.isChecked}} checked {{/if}}/>
                            <label for="{{ this.name }}">{{this.name}}</label>
                        </p>
                    </form>
                    </div>
                    {{/each}}


                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-4">
                        <a class="btn btn-default"
                           href="/admin/user">Cancel</a>
                        <button type="submit" class="btn btnsuccess">Edit</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>