<div id="index-banner top" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center teal-text text-lighten-2">Express yourself.</h1>
            <div class="row center">
                <h5 class="header col s12 light">Share your thoughts with us.</h5>
            </div>
            <div class="row center">
                <a href="/article/create" id="download-button" class="btn-large waves-effect waves-light teal lighten-1 card-panel hoverable">New Post</a>
            </div>
            <br><br>

        </div>
    </div>
    <div class="parallax"><img src="/stylesheets/images/background5.jpg" alt="Unsplashed background img 1"></div>
</div>
<div class="container body-content">
    <div class="row">
        <div class ="col-md-12 hoverable" style="padding: 50px">
            <article>
                <header>
                    <h2>{{title}}</h2>
                </header>
                <p>
                    -{{content}}
                </p>
                <small class="author">
                   Author:  <b>{{author.fullName}}</b>
                </small>
                <br>
                <small class="author">
                    Date published: <b>{{date}}</b>
                </small>

                <div class="right">
                    {{#if user}}
                    <a class="waves-effect waves-light btn darken-2 yellow" href="/article/edit/{{id}}"><i class="material-icons">mode_edit</i></a>
                    <a class="waves-effect waves-light btn red" href="/article/delete/{{id}}"><i class="material-icons">delete</i></a>

                    {{/if}}
                    <a class="btn btn-default btn-xs" href="/"><i class="material-icons">home</i></a>
                </div>

            </article>
        </div>
    </div>
</div>